# .env
# .env.*
# !.env.example
# /config/
# /data/

# .data/
# Builds/
# builds/
# live/
# live backup*/
# logs/
# /latest_build/

# #NPM
# dist-ssr/
# *.local

# __pycache__/
# *.pyc
# .venv/
# venv/
